.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 44px;
    &.open-menu-styles {
        position: fixed;
        background-color: white;
    }
    .navbar-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
        font-size: 20px;
        font-weight: 500;
        .link {
            color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            pointer-events: auto;
            &:hover {
                transform: translateY(-4px);
                color: black;
            }
        }
    }
    .navbar-menu-icon {
        display: flex;
        height: 44px;
        width: 44px;
        border-radius: 40px;
        pointer-events: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
}
.menu-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.08);
    z-index: 3;
    backdrop-filter: 20px;
    // pointer-events: auto;
    .mobile-menu-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        // position: fixed;
        // width: 100%;
        // top: 0px;
        // left: 0px;
        // z-index: 4;
        .menu-option {
            display: flex;
            align-items: center;
            padding: 16px 24px;
            font-size: 20px;
            border-bottom: 1px solid #EAEAEA;
        }
    }
}
