.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .hero {
        width: 100%;
        box-sizing: border-box;
        align-items: center;
    }
}